* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #e5e5e5;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: auto;
}

.logo{
    margin: 30px 0 72px;
}

.cards__wrapper{
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards__column{
    margin: 0 10px;
}

.cards__item{
    max-width: 380px;
    width: 100%;
    margin-bottom: 40px;
}

.find-apartments__items{
    height: 374px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

//первая карточка - поиск апартаментов

.cards__title{
    width: 320px;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    padding-bottom: 20px;
}

.datepicker-field__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding-bottom: 6px;
}

.datepicker-field{
    display: flex;
    flex-direction: row;
}

.datepicker-field--left, .datepicker-field--right{
    display: flex;
    flex-direction: column;
}

.find-apartments__subtitle{
    width: 43px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding: 20px 0 5px 0;
}

.find-apartments__button{
    margin-top: 31px;
}

// вторая карточка - регистрация аккаунта
.register__items{
    height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

.cards__field--name{
    margin-bottom: 10px;
}

.register__gender{
    display: flex;
    margin-top: 10px;
}

.register__birthday, .register__service{
    margin-top: 20px;
}

.register__service--password, .register__service--toggle{
    margin-top: 10px;
}

.register__button--long{
    margin-top: 15px;
}

.register__account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.account__text{
    width: 186px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
}

.account__button{
    position: relative;
    z-index: 1;
}

.rounded-button{
    display: inline-block;
    position: relative;
    top: 2px;
    font-family: Montserrat, OpenSans, sans-serif;
    color: #bc9cff;
    border-radius: 22px;
    border: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    height: 40px;
    padding: 0 25px;
}

.rounded-button::after {
    display: inherit;
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    border-radius: 22px;
    background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

//- карточка бронирования номера
.booking__items{
    height: 511px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

.booking__item--apartment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;
}

.apartment__number{
    font-family: Quicksand, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1F2041;
}

.apartment__number--large {
    font-size: 1.5rem;
}

.apartment__text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.price{
    font-family: Montserrat, OpenSans, sans-serif;
    color: rgba(31,32,65,0.5);
}

.price__number{
    font-weight: bold;
}

.price__text {
    font-size: .75rem;
}

//- карточка счет-фактуры
.invoice{
    margin-top: 20px;
}

.invoice__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invoice__service{
    position: relative;
    padding-right: 24px;
    width: 80%;
    line-height: 1.125rem;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.invoice__service_with-icon::after {
    position: absolute;
    content: 'i';
    top: 0;
    right: 0;
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    color: rgba(31,32,65,0.25);
    border: 1px solid rgba(31,32,65,0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 1.25rem;
    text-align: center;
}

.invoice__sum{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.invoice__line {
    position: relative;
    bottom: 5px;
    border-bottom: 1px dashed rgba(31,32,65,0.25);
    width: 60%;
}

.invoice__block{
    font-family: Quicksand, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}

.booking__button--long, .enter__button--long{
    margin-top: 20px;
}

//- карточка Войти
.enter__items{
    height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(141, 138, 138, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

.enter__text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000;
}

.enter__button {
    position: relative;
    z-index: 1;
}

//-gallery
.gallery{
    width: 271px;
    box-shadow: 0px 10px 20px rgba(31,32,65,0.05);
    border-radius: 4px;
    overflow: hidden;
    background: #FFFFFF;
    margin-top: 40px;
}

.gallery__image {
    position: relative;
}

.gallery__left-arrow {
    left: 0;
}

.gallery__arrow {
    position: absolute;
    top: 0;
    width: 44px;
    height: 97%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 99.99%, rgba(255,255,255,0) 100%);
}

.gallery__right-arrow {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.gallery__point-container {
    display: flex;
    width: 42px;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.gallery__point_filled {
    background-color: #fff;
}

.gallery__point {
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.gallery__point {
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.gallery__rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(31,32,65,0.1);
    line-height: 33px;
}

.gallery__rating--comments{
    display: flex;
    flex-direction: row;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
    align-items: center;
}

.cards__rate{
    padding-top: 8px;
}

.gallery__body{
    padding: 8px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.gallery__rating--bold{
    font-weight: bold;
    padding-right: 4px;
}