$borderBtn: 2px solid #fff;

.proposal{
    background-image: url('assets/img/bg.png');
    mix-blend-mode: soft-light;
    background-position-x: center;
    background-position-y: center;
    height: 380px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__wrapper{
        max-width: 1150px;
        width: 100%;
        margin: 210px auto 0 auto;
    }

    &__title{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        color: #fff;
    }

    &__text{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 19px;
    }

    &__buttons{
        margin-top: 48px;
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
        color: #183B56;
    }

    &__link{
        padding: 15px 39px;
        background-color: #fff;
        border: $borderBtn;
        border-radius: 50px;
        margin-right: 20px;

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            background-color: #4d61fc;
            color: #fff;
        }
    }
}