$borderBtn: 2px solid #fff;

.proposal{
    background-image: url('assets/img/bg.png');
    mix-blend-mode: soft-light;
    background-position-x: center;
    background-position-y: center;
    height: 380px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0072ff;
    margin-left: 26px;

    &__wrapper{
        max-width: 1176px;
        width: 100%;
        margin: 249px auto 0px;
    }

    &__title{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        color: #fff;
    }

    &__text{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 19px;
    }

    &__buttons{
        margin-top: 63px;
        margin-left: 10px;
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
        color: #183B56;
    }

    &__link{
        padding: 12px 45px;
        border-radius: 50px;
        margin-right: 20px;
        background-color: #fff;
        border: $borderBtn;

        &:last-child{
            margin-right: 0;
        }

        &--white{
            background-color: #fff;
            border: $borderBtn;
            color: #4d61fc;

            &:hover{
                background-color: #4d61fc;
                color: #fff;
            }
        }

        &--blue{
            background-color: #4d61fc;
            border: $borderBtn;
            color: #fff;

            &:hover{
                background-color: #fff;
                color: #4d61fc;
            }
        }
    }
}