extends ../../base
include ../../blocks/headers-footers/menu/menu
include ../../blocks/form-elements/buttons/buttons
include ../../blocks/headers-footers/header/header

block title
    | Headers & Footers

block main
    .logo-wrapper
        include ../../blocks/logo/logo-grey

block headers-section
    .container
        +header('headerRegister')
        +header('headerRegistered')