* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #e5e5e5;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: auto;
}

//- header для регистрации
.header__item--register{
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31,32,65,0.05);
    margin-bottom: 40px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
}
