mixin rectangleInfo(colorClassName, titleClassName, title)
    .rectangles
        .rectangle(class= colorClassName)
        .rectangle-descr(class= titleClassName)
            span #{title}

mixin widgetsInfo(widgetTitleClassName, widgetTitle, widgetDescrClassName, widgetDescr)
    .widgets
        .widget.widget-items(class= widgetTitleClassName)= widgetTitle
        .widget-item(class= widgetDescrClassName)= widgetDescr