.price{
    margin-left: 10px;

    &__wrapper{
        max-width: 1140px;
        width: 100%;
        margin: auto;
    }

    &__caption{
        font-family: system-ui;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        color: #16133D;
    }

    &__descr{
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #5A7184;
        margin-top: 7px;
    }

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 83px;
    }
}