.header{
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EFEEF3;
        padding-bottom: 32px;
        max-width: 1186px;
        width: 100%;
        margin: 30px auto 7px auto;
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 256px;
        width: 100%;
        padding-top: 3px;
    }
}