$borderBtn: 2px solid #007FFC;

.description{
    &__wrapper{
        max-width: 477px;
        width: 100%;
    }

    &__container{
        padding-left: 31px;
        padding-top: 1px;
    }

    &__caption{
        font-family: system-ui;
        font-weight: 600;
        font-style: normal;
        font-size: 56px;
        color: #16133D;
        margin-bottom: 24px;
        max-width: 477px;
        width: 100%;
        line-height: 69px;
        letter-spacing: -0.2px;
    }

    &__text{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 19px;
        line-height: 36px;
        color: #183B56;
        margin-bottom: 47px;
        max-width: 477px;
        width: 100%;
    }

    &__buttons{
        padding-bottom: 64px;
    }

    &__link {
        font-family: 'Roboto-Medium';
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        border-radius: 8px;
        border: $borderBtn;
        margin-right: 20px;

        &:last-child{
            margin-right: 0;
        }

        &--blue{
            color: #fff;
            background-color:#007FFC;
            padding: 14px 39px 9px 40px;

            &:hover{
                background-color: #fff;
                color: #007FFC;
                border-color: #007FFC;
                border: $borderBtn;
            }
        }

        &--white{
            color: #007FFC;
            background-color:#fff;
            padding: 14px 47px 9px 44px;

            &:hover{
                background-color: #007FFC;
                color: #fff;
                border-color: #007FFC;
                border: $borderBtn;
            }
        }
    }

}