tinyone/node_modules/
waxom/node_modules/
waxom/build/libs/OwlCarousel/*
waxom/package-lock.json
tinyone/package-lock.json
toxin/node_modules/
toxin/package-lock.json
freehand/node_modules/
.vscode
node_modules/
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini
package-lock.json
