$borderCard: 1px solid #E5EAF4;
$borderImg: 1px solid rgba(21, 101, 216, 0.1);

.card{
    &__subtitle{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #7690A8;
    }

    &__caption{
        font-family: system-ui;
        font-weight: 600;
        font-style: normal;
        font-size: 40px;
        line-height: 52px;
        margin: 14px 1px 8px;
        color: #16133D;
    }

    &__text{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        color: #16133D;
    }

    &__container{
        max-width: 360px;
        width: 100%;
        height: 347px;
        border: $borderCard;
        border-radius: 8px;

        &:hover{
            border-color: #007FFC;
        }
    }

    &__views{
        margin: 28px 0 0 41px;
    }

    &__title{
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 21px;
        color: #16133D;
    }

    &__excerpt{
        margin-top: 14px;
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 28px;
        color: #16133D;
        max-width: 274px;
        width: 100%;
    }

    &__link{
        margin-top: 29px;
        display: block;
        cursor: pointer;
        font-family: 'Roboto-Regular';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
        color: #16133D;
    }
}

.image{
    &__wrapper{
        border: $borderImg;
        box-sizing: border-box;
        border-radius: 16px;
        width: 64px;
        height: 64px;
        margin: 41px 0 0 41px;

        &:hover{
            border-color: #007FFC;
        }
    }

    &__card{
        padding: 15px;
    }
}