.navigation{
    &__title{
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #EFEEF3;
        margin-bottom: 32px;
    }

    &__links{
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0px;
        }
    }

    &__text{
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #EFEEF3;
    }

    &__email{
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 27px;
        margin-left: 4px;
    }

    &__images{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.link__item{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #EFEEF3;

    &:hover{
        color: #65637f;
    }
}

.footer__img{
    width: 100%;
    position: relative;
    top: 9px;
    left: 3px;
}

.footer__star{
    width: 100%;
    position: relative;
    left: 24px;
    top: 9px;
}
