.logo{
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 197px;
        width: 100%;
        margin-left: 32px;
    }
    &__text{
        font-family: 'Quicksand';
        font-weight: 500;
        font-style: normal;
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 3px;
    }
}