mixin logo(logoFooter)
    if(logoFooter ==='logo-footer')
            .logo
                img(class="logo__img" src=require('../../assets/img/logo-footer.png').default, alt="logo-footer")
    else
        .logo__container
            .logo
                img(class="logo__img" src=require('../../assets/img/logo.png').default, alt="logo")