//- карточка бронирования номера
.booking__items{
    height: 511px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 0px 30px;
}

.booking__item--apartment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;
}

.apartment__number{
    font-family: Quicksand, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #1F2041;
}

.apartment__number--large {
    font-size: 1.5rem;
}

.apartment__text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.price{
    font-family: Montserrat, OpenSans, sans-serif;
    color: rgba(31,32,65,0.5);
}

.price__number{
    font-weight: bold;
}

.price__text {
    font-size: .75rem;
}

//- карточка счет-фактуры
.invoice{
    margin-top: 20px;
}

.invoice__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invoice__service{
    position: relative;
    padding-right: 24px;
    width: 80%;
    line-height: 1.125rem;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.invoice__service_with-icon::after {
    position: absolute;
    content: 'i';
    top: 0;
    right: 0;
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    color: rgba(31,32,65,0.25);
    border: 1px solid rgba(31,32,65,0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 1.25rem;
    text-align: center;
}

.invoice__sum{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.invoice__line {
    position: relative;
    bottom: 5px;
    border-bottom: 1px dashed rgba(31,32,65,0.25);
    width: 60%;
}

.invoice__block{
    font-family: Quicksand, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}

.booking__button--long, .enter__button--long{
    margin-top: 20px;
}