.footer{
    &__container{
        width: 100%;
        background: #16133D;
        margin-top: 200px;
        color: #fff;
    }

    &__navigation{
        display: flex;
        flex-direction: row;
        max-width: 669px;
        width: 100%;
        justify-content: space-around;
        margin-right: 172px;
        margin-top: 89px;
    }

    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__sidebar{
        margin-top: 93px;
    }

    &__logo{
        margin-left: 159px;
        margin-top: 89px;
    }
}

.sidebar{
    &__text{
        margin-top: 28px;
        max-width: 285px;
        width: 100%;
        height: 85px;
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #EFEEF3;
    }

    &__social{
        margin-top: 58px;
        margin-left: 3px;
        display: flex;
        width: 38px;
        height: 38px;
        background-color: #efeef3;
        border-radius: 3px;
    }
}

.social__item{
    margin-right: 8px;
    cursor: pointer;
    width: 38px;
    padding: 9px;
    background-color: #eee;
    border-radius: 5px;

    &:hover{
        color: #65637f;
    }
}

.copyright{
    text-align: center;
    margin-top: 144px;
    margin-left: 5px;
    letter-spacing: 0.5px;
    padding-bottom: 70px;

    &__text{
        font-family: system-ui;
        font-size: 15px;
    }
}