include ../../header/logo/logo

mixin footer()
    section.footer__wrapper
        .footer__sidebar
            +logo()
            .sidebar__text We're brand strategy and digital design agency, building brands that matter in culture.
            .sidebar__social
                a(href="#")
                    i(class="fab fa-instagram-square" aria-hidden='true')
                a(href="#")
                    i(class="fab fa-facebook-square" aria-hidden='true')
                a(href="#")
                    i(class="fab fa-github-square" aria-hidden='true')
                a(href="#")
                    i(class="fab fa-dribbble-square" aria-hidden='true')
                a(href="#")
                    i(class="fab fa-twitter-square" aria-hidden='true')
        .footer__navigation

    section.copyright
        p.copyright__text Copyright © 2020. Crafted with love.