mixin textField(text, forInput)
    .form-elements__descr
        label(for="text-field-" + forInput) #{text}

mixin inputField(modificator, inputFieldClassName, idInput, inputType, email)
    if modificator
        div(class="form-elements__input"+ modificator)
            input(type= inputType, class= '' + inputFieldClassName, placeholder= email)
    else
        div(class="form-elements__input")
            input(type= inputType, class= '' + inputFieldClassName, id= 'text-field-' + idInput, placeholder= email)

mixin formElementsHeader(descr)
    .form-elements__descr
        span #{descr}

//- mixin widgetsInfo(widget, widgetTitle, descr, widgetDescr)
//-     .widget.widget-items(class= 'widget-title--' + widget)= widgetTitle
//-     .widget-item(class= 'widget-descr--' + descr)= widgetDescr
//-если есть модификатор у класса, то НЕ добавлять этому инпуту idInput