.header__account{
    margin-right: 23px;
}

.user__account{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    padding-left: 20px;
    border-left-color: rgba(31, 32, 65, 0.5);
    border-left: 1px solid;
}