*
    margin: 0
    padding: 0

a
    text-decoration: none

    &:hover, &:active, &:visited, &:focus, &:link
        text-decoration: none
        color: inherit

ul
    list-style-type: none

.container
    max-width: 930px
    margin: auto
    width: 100%

@font-face 
    font-family: 'SourceSansPro'
    src: url(../fonts/SourceSansPro-Black.ttf)
    font-weight: 700

@font-face 
    font-family: 'SourceSansPro'
    src: url(../fonts/SourceSansPro-Regular.ttf)
    font-weight: 400

.sticky
    position: fixed
    width: 100%
    background: #fcdb00
    box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0.05)
    padding: 20px 0px
    top: 0

.sticky-menu
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    max-height: 90px
    height: 100%    

    &__social_link
        display: flex
    
    &__social_link_item
        padding-right: 20px

        &:last-child
            padding-right: 0

        &:hover
            color: #999
            transition: all 0.5s

.logo
    cursor: pointer
    display: flex
    justify-content: center

    &__img
        padding-right: 10px

    &__brandname
        font-family: 'SourceSansPro'
        font-size: 30px
        font-weight: 700
        color: #222

.header
    padding-top: 252px
    display: flex
    flex-direction: column
    align-items: center
    background: #fcdb00

    &__title
        font-family: 'SourceSansPro'
        font-size: 48px
        font-weight: 700
        color: #222

    &__description
        font-family: 'SourceSansPro'
        font-size: 20px
        font-weight: 400
        color: #222
        max-width: 480px
        width: 100%
        text-align: center
        margin-top: 32px
    
    &__btn
        outline: none
        border: 2px solid #222
        padding: 20px 73px
        font-family: 'SourceSansPro'
        font-size: 22px
        font-weight: 700
        color: #222
        text-transform: uppercase
        background-color: #fcdb00
        margin-top: 36px
        cursor: pointer

        &:hover
            color: #fff
            background: #232323
            transition: all 0.5s
    
    &__arrow
        margin-top: 180px
        cursor: pointer
        margin-bottom: 58px

.features__view
    display: flex
    flex-direction: column