doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title #{title}
    body
        h1 test pug file index.pug
    
//- block variables
//-     - var title = 'Headers & Footers'

//- block content
//-     section
//-         .wrapper
//-             .content-wrapper
//-                 h1 test pug
//-                 p hello

//-     section
//-         .wrapper
//-             .content-wrapper
//-                 h1 test pug
//-                 p hello
//-     section
//-         .wrapper
//-             .content-wrapper
//-                 h1 test pug
//-                 p hello