mixin dropdownMenuOption(dropdownItem)
    .dropdown__item #{dropdownItem}

mixin dropdownControls(minus, count, plus)
    .dropdown__minus #{minus}
    .dropdown__count #{count}
    .dropdown__plus #{plus}