mixin dropdown(placeholder)
    input(class="text-field--dropdown", placeholder= placeholder, readonly="readonly")
    i(class="material-icons") expand_more

mixin dropdownControls(dataId, title, minus, count, plus)
    div(class="dropdown__menu-option" data-id= dataId)
        .dropdown__item #{title}
        div(class="dropdown__controls")
            .dropdown__minus #{minus}
            .dropdown__count #{count}
            .dropdown__plus #{plus}