body{
	font-family: Montserrat;
	font-size: 18px;
}

.form{
	display: flex;
	flex-direction: column;
	text-align: left;
	max-width: 600px;
    margin: auto;
	width: 100%;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(114, 113, 113, 0.5); ;
    border-radius: 6px;
    padding: 41px;
}

.male-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.male-field{
    margin-top: 21px;
    margin-right: 13px;
}

.male-field:last-child{
    margin-right: 0;
}

.title{
	text-align: center;
}

.field{
	padding-bottom: 10px;
    padding-top: 10px;
}

.label {
	padding-top: 20px;
}

.sities{
	padding: 10px;
}

.btn {
    padding: 10px;
    max-width: 399px;
    background-color: white;
    border: 1px solid;
	border-radius: 5px;
	width: 100%;
    margin: 20px 0 0 90px;
}