$borderBtn: 2px solid #16133D;

.buttons{
    width: 119px;
    height: 48px;
    border: $borderBtn;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    color: #16133D;

    &:hover{
        background-color: #16133D;
        color: #fff;
    }
}

.button__link{
    font-style: 'Roboto-Medium';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    padding: 12px 34px 15px 35px;
    border-radius: 5px;

    &:hover{
        color: #fff;
        background-color: #16133D;
    }
}