mixin buttons(name)
    .buttons
        a(class="button__link" href="#") #{name}

mixin descriptionBtnBanner(nameFirst, nameSecond)
    .description__buttons
        a(class="description__link" href="#") #{nameFirst}
        a(class="description__link" href="#") #{nameSecond}