$borderBtn: 2px solid #16133D;

.buttons{
    width: 119px;
    height: 48px;
    border: $borderBtn;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}

.button__link{
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;

    &--blue{
        color: #fff;
        background-color: #16133D;
        padding: 11px 38px 14px;

        &:hover{
            color: #16133D;
            background-color: #fff;
        }
    }

    &--white{
        color: #16133D;
        background-color: #fff;
        padding: 11px 36px 14px 30px;

        &:hover{
            color: #fff;
            background-color: #16133D;
        }
    }
}