.service{
    margin-left: 16px;

    &__wrapper{
        max-width: 1158px;
        width: 100%;
        margin: 62px auto 10px auto;
    }

    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 61px;
    }
}