.menu{
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__container{
        max-width: 362px;
        width: 100%;
        padding-right: 5px;
        margin-left: 52px;
        margin-top: -2px;
    }

    &__link{
        font-family: 'Roboto-Medium';
        font-style: normal;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }
}