.range-slider-wrapper{
    display: flex;
}

// .range-slider{
//     display: block;
//     width: 266px;
//     height: 6px;
//     background: #FFFFFF;
//     border: 1px solid rgba(31, 32, 65, 0.25);
//     box-sizing: border-box;
//     border-radius: 3px;
// }

.range-slider__range{
   // position: absolute;
    display: block;
    width: 88px;
    height: 6px;
    // left: 1061px;
    // top: 181.44px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
}

.range-slider {
    position: relative;
    height: 80px;
}

// .irs-from{
//     visibility: hidden;
// }

.extra-controls{
    display: inline;
}

.extra-controls__title{
    border: 0;
    outline: none;
}

// стилизация ползунков
.left-toddler{
    top: 28px !important;
    width: 16px !important;
    height: 16px !important;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 10px !important;
}

.right-toddler{
    top: 28px !important;
    width: 16px !important;
    height: 16px !important;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 10px !important;
}

.toddler{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
}

.line-all{
    background: #FFFFFF !important;
    border: 1px solid rgba(31, 32, 65, 0.25) !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
}