@font-face{
    font-family: 'Roboto-Black';
    src:url("/assets/fonts/roboto/Roboto-Black.eot") format("eot"),
        url("/assets/fonts/roboto/Roboto-Black.ttf") format("trueType"),
        url("/assets/fonts/roboto/Roboto-Black.woff") format('woff'),
        url("/assets/fonts/roboto/Roboto-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Bold';
    src:  url("/assets/fonts/roboto/Roboto-Bold.eot") format("eot"),
          url("/assets/fonts/roboto/Roboto-Bold.ttf") format("trueType"),
          url("/assets/fonts/roboto/Roboto-Bold.woff") format('woff'),
          url("/assets/fonts/roboto/Roboto-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Medium';
    src:url("/assets/fonts/roboto/Roboto-Medium.eot") format("eot"),
        url("/assets/fonts/roboto/Roboto-Medium.ttf") format("trueType"),
        url("/assets/fonts/roboto/Roboto-Medium.woff") format('woff'),
        url("/assets/fonts/roboto/Roboto-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Regular';
    src:url("/assets/fonts/roboto/Roboto-Regular.eot") format("eot"),
        url("/assets/fonts/roboto/Roboto-Regular.ttf") format("trueType"),
        url("/assets/fonts/roboto/Roboto-Regular.woff") format('woff'),
        url("/assets/fonts/roboto/Roboto-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Light';
    src:url("/assets/fonts/roboto/Roboto-Light.eot") format("eot"),
        url("/assets/fonts/roboto/Roboto-Light.ttf") format("trueType"),
        url("/assets/fonts/roboto/Roboto-Light.woff") format('woff'),
        url("/assets/fonts/roboto/Roboto-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}