@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/SourceSansPro-Bold.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #313236;
    height: 1160px;
    width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu_logo {
    max-width: 1140px;
    margin: 0 auto;
}


.logo-1 {
    color: #fff;
    display: inline-block;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 900;
    margin-top: 65px;
    text-transform: uppercase;

}

.logo-2 {
    background-color: #f9812b;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    margin-left: 9px;
    margin-top: 74px;
    padding: 5px 13px;
    text-transform: uppercase;
    vertical-align: top;
}

.menu {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-top: 72px;
    text-transform: uppercase;
}

.menu li {
    padding-left: 70px;
}

.menu li:first-child {
    padding-left: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 7px 9px;
}

.menu a:active, .menu a:visited {
    color: #fff;
}

.menu a:hover {
    background-color: #f9812b;
    border-radius: 10px;
}

.sliders {
    flex-direction: row;
    margin-top: 290px;
    justify-content: center;
}

.slide-1, .slide-2, .slide-3, .slide-4, .slide-5 {
    width: 1140px;
    height: 640px;
    text-align: center;
}

.slide-1 h1, .slide-2 h1, .slide-3 h1, .slide-4 h1, .slide-5 h1 {
    display: inline-flex;
    border: 1px solid #fff;
    color: #fff;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 100px;
    padding: 16px 26px;
    text-transform: uppercase;
}


.slide-1 p, .slide-2 p, .slide-3 p, .slide-4 p, .slide-5 p {
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 100px;
}

.get-started-button {
    background-color: #f9812b;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    font-size: 16px;
    margin-right: 27px;
    padding: 17px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.get-started-button:focus {
    color: #fff;
}


.learn-more-button {
    background-color: #020405;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    font-size: 16px;
    padding: 17px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -35px;
}

.navigation-1, .navigation-2, .navigation-3, .navigation-4, .navigation-5 {
    background-color: #020405;
    border-radius: 50%;
    height: 18px;
    margin-right: 15px;
    width: 18px;
}

.portfolio {
    height: 1000px;
    background-color: #fff;
    text-align: center;
}

.portfolio h2 {
    color: #454545;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 47px;
    padding-top: 120px;
}

.portfolio p {
    color: #c0c0c0;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 29px;
    margin-bottom: 145px;
}

.portfolio-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-slider-1 img, .portfolio-slider-2 img {
    width: 510px;
}

.get-for-free-btn {
    background-color: #f9812b;
    color: #fff;
    font-family: Roboto;
    font-weight: medium;
    font-size: 14px;
    margin-right: 23px;
    padding: 17px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.learn-more-btn {
    background-color: #020405;
    color: #fff;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    margin-right: 23px;
    padding: 17px 30px;
    text-decoration: none;
    text-transform: uppercase;
}


.portfolio-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 105px;
}

.portfolio-navigation-1, .portfolio-navigation-2, .portfolio-navigation-3, .portfolio-navigation-4, .portfolio-navigation-5 {
    background-color: #A9A9AA;
    border-radius: 50%;
    height: 15px;
    margin-right: 15px;
    width: 15px;
}


.navigation-left-arrow, .navigation-right-arrow {
    background-color: #F3F3F3;
    height: 72px;
    margin-right: 15px;
    width: 70px;
}

.navigation-left-arrow object, .navigation-right-arrow object{
    padding-top: 20px;
}


.about-us {
    background: #44444a url("../images/about-us.png");
    background-blend-mode: multiply;
    height: 610px;
}

.about-us h2 {
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 42px;
    padding-bottom: 11px;
    padding-top: 100px;
    text-align: center;
}

.circle-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1140px;
}


.circle-1, .circle-2, .circle-3, .circle-4 {
    border: 1px solid #524F52;
    border-radius: 50%;
    height: 235px;
    margin: 20px;
    text-align: center;
    width: 235px;
}

.circle-1:first-child {
    margin-left: 135px;
}

.circle-1 span, .circle-2 span, .circle-3 span, .circle-4 span {
    color: #fff;
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 56px;
    padding-top: 65px;
    text-align: center;
}

.circle-1 p, .circle-2 p, .circle-3 p, .circle-4 p {
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}


.services {
    height: 940px;
    margin: auto;
    width: 1140px;
}

.services h2 {
    color: #454545;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 47px;
    padding-top: 95px;
    text-align: center;
}

.services p {
    color: #c0c0c0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.services-view {
    margin: auto;
    padding-top: 160px;
    width: 1140px;
}


.services-view h3 {
    color: #454545;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

.services-view p {
    color: #aaa;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    padding-right: 72px;
    text-align: justify;
}


.services-view-up, .services-view-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services-view-up img, .services-view-down img {
    padding-right: 14px;
    width: 35px;
}


.get-started {
    background-color: #313236;
    height: 350px;
    text-align: center;
}


.get-started h3 {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 29px;
    padding-top: 72px;
    text-align: center;
    text-transform: uppercase;
}

.get-started p {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.get-started a {
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    margin: auto;
    padding: 14px 22px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 190px;
}

.macbook {
    height: 1060px;
    margin: 0 auto;
    width: 1140px;
}


.macbook h3 {
    color: #454545;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 47px;
    padding-top: 84px;
    text-align: center;
}

.macbook p {
    color: #c0c0c0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.macbook-content {
    display: flex;
    flex-direction: row;
}

.macbook-img object {
    margin-top: 144px;
}


.macbook-text {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
}

.macbook-text p {
    color: #020405;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding-bottom: 40px;
}


.tick-img {
    display: flex;
    flex-direction: row;
}

.tick-img img {
    margin-top: -57px;
    padding-right: 23px;
}

footer {
    background-color: #313236;
    height: 265px;
}


.contact {
    position: relative;
    top: -34px;
}

.contact p {
    background-color: #F9812B;
    margin: 0 auto;
    width: 860px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 27px;
    text-align: center;
    padding: 13px 0;
}


.icons-footer {
    text-align: center;
    padding-top: 34px;
}

.icons-footer p {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    padding-top: 45px;
}





@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .menu {
    font-size: 14px;
  }

  .menu li {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}