.slider{
    &__container{
        max-width: 576px;
        width: 100%;
    }
}

.arrow{
    &__wrapper{
        width: 55px;
        background-color: #16133D;
        border-radius: 5px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left{
        position: relative;
        top: 234px;
        left: -27px;
        padding: 17px;
        cursor: pointer;

        &:hover{
            background-color: #007FFC;
        }
    }

    &__right{
        position: relative;
        bottom: 238px;
        left: 549px;
        padding: 17px;
        cursor: pointer;

        &:hover{
            background-color: #007FFC;
        }
    }
}