extends ../../../base

block title
    | Header
block main
    include ../../../../components/logo/logo-main

block menu
  .menu-wrapper
    ul.menu-list
      li.menu-item
        a.menu-link(href="#") Home
      li.menu-items
        a.menu-link(href="#") About Us
      li.menu-items
        a.menu-link(href="#") Services
      li.menu-items
        a.menu-link(href="#") Careers
      li.menu-items
        a.menu-link(href="#") News
      li.menu-items
        a.menu-link(href="#") Documentation