extends ../../base

block title
    | Form Elements

block main
    include ../../blocks/logo/logo-grey

block form-section
    .container
        .form-elements.form-elements--left
            .form-elements-item--default
                .form-elements__descr
                    span text field
                .form-elements__input
                    input(class="text-field" type="email" placeholder="Email")
            .form-elements-item--hover
                .form-elements__descr
                    span text field
                .form-elements__input
                    input(class="text-field" type="email" placeholder="Email")

            .form-elements-item
                .form-elements__dropdown
                    .form-elements__descr
                        span dropdown
                    .form-elements__input--dropdown
                        input(class="text-field--dropdown" placeholder="Сколько гостей" readonly="readonly")

                        i(class="material-icons") expand_more
                        div(class="dropdown__menu")
                            div(class="dropdown__menu-option" data-id="item1") 
                                div(class="dropdown__item") Взрослые
                                div(class="dropdown__controls")
                                    div(class="dropdown__minus") -
                                    div(class="dropdown__count") 0
                                    div(class="dropdown__plus") +
                            
                            div(class="dropdown__menu-option" data-id="item2") 
                                div(class="dropdown__item") Дети
                                div(class="dropdown__controls")
                                    div(class="dropdown__minus") -
                                    div(class="dropdown__count") 0
                                    div(class="dropdown__plus") +

                            div(class="dropdown__menu-option" data-id="item3") 
                                div(class="dropdown__item") Младенцы
                                div(class="dropdown__controls")
                                    div(class="dropdown__minus") -
                                    div(class="dropdown__count") 0
                                    div(class="dropdown__plus") +

                            div(class="dropdown__buttons" data-id="item-btn") 
                                button(class="clear-btn") Очистить
                                button(class="apply-btn") Применить
                            
                        