extends ../../base

block title
    | Form Elements

block main
    include ../../blocks/logo/logo-grey

block form-section
    .container
        .form
            .form---default
                .form--descr
                    span text field
                .form--input
                    input(type="email" placeholder="Email")
            .form--hover
                .form--descr
                    span text field
                .form--input
                    input(type="email" placeholder="Email")
