* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container{
    max-width: 1160px;
    width: 100%;
    margin: auto;
}

.logo {
    position: relative;
    width: 48px;
    height: 48px;
    //left: 30px;
    top: 30px;
}

.form-elements{
    max-width: 320px;
    width: 100%;
}

.form-elements-item--default{
    margin-bottom: 40px;
    margin-top: 85px;
}

.form-elements__descr {
    //position: absolute;
    // width: 72px;
    // height: 15px;
    // left: 141px;
    // top: 143px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    //line-height: 15px;
    text-transform: uppercase;    
    color: #1F2041;
    margin-bottom: 5px;
}

.text-field {
    background: #FFFFFF;
    box-sizing: border-box;
    width: 320px;
    height: 44px;
    padding: 13px 15px 13px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.text-field:hover{
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
}

.form-elements__input{
    margin-bottom: 40px;
}

/* Dropdown */


.form-elements__input--dropdown{
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 320px;
    height: 44px;
    cursor: pointer;
    margin-bottom: 42px;
}

.material-icons{
    width: 44px;
    height: 30px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    top: 372px;
}

.text-field--dropdown{
    width: 268px;
    height: 42px;
    border: 0;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.dropdown__menu{
    border: 1px solid rgba(31,32,65,0.25);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 319px;
    height: 159px;
    display: none;
}

.dropdown__menu--open{
    display: block;
}

.dropdown__menu-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
    padding: 10px 0 0 15px;
    vertical-align: middle;
    line-height: 32px;
}

.dropdown__controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    padding-right: 7px;
}

.dropdown__minus, .dropdown__plus{
    width: 30px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31,32,65,0.5);
    border-radius: 50%;
    line-height: 1.875rem;
    user-select: none;
    cursor: pointer;
}

/* dropdown btn */

.dropdown__buttons {
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 7px 0 15px;
}


.clear-btn, .apply-btn{
    border: 0;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    background-color: inherit;
    cursor: pointer;
}

.clear-btn:focus, .apply-btn:focus {
    outline: none;
}

/* masked text field */
.form-elements__input--masked{
    background: #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 60px;
}

/* air-datepicker */

.form-elements__datepicker{
    display: flex;
    flex-direction: row;
}

.form-elements__input--datepicker{
    width: 150px;
    height: 44px;
}

.datapicker-wrapper{
    margin-right: 20px;
    margin-bottom: 5px;
}

.datapicker-wrapper--right{
    margin-right: 0;
}

.text-field--datepicker{
    width: 114px;
    border: 0;
    padding-left: 15px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
}

.datepicker--left{
    margin-right: 20px;
    width: 150px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.material-icons--left-datepicker{
    width: 38px;
    height: 44px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: rgba(31, 32, 65, 0.5);
}

.datepicker--right{
    width: 150px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}