include ../../banner/description/description

mixin features()
    section.features__wrapper
        .features
            .description__cards
                +descriptionCards('our tips for you', 'Important features', 'Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .')
            .features__container
                .features__left
                    p(class="features__text features__text--left") 120 million curious readers and growing.
                .features__right
                    p(class="features__text features__text--right") Expand your reading. Expand your mind.