* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff !important;
}

.hero-gallery{
    display: flex;
    width: 100%;
    margin-top: -40px;
}

.hero-gallery__left{
    width: 65%;
}

.hero-gallery__right{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0;
    padding: 0;
}

.hero-gallery--small{
    margin-top: -2px;
}

.room-details{
    display: flex;
}

.room-details__additions{
    max-width: 280px;
    width: 100%;
}

.room-details__chart{
    max-width: 311px;
    width: 100%;
}

.chart__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart{
    max-width: 250px;
    width: 100%;
}

.bullet {
    list-style: none;
    line-height: 1.54em;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
    list-style-position: inside;
}

.bullet__element{
    position: relative;
    padding-left: 20px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.bullet__element::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -1px;
    width: 10px;
    height: 10px;
    background-color: rgba(31,32,65,0.25);
    border-radius: 50%;
}

.bullet__element--yellow::before {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
}

.bullet__element--green::before {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.bullet__element--purple::before {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.bullet__element--grey::before {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
}

.room-details{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-between;
}

.room-details__wrapper{
    display: flex;
    flex-direction: row;
}

.room-details__container{
    display: flex;
    flex-direction: column;
    max-width: 711px;
    width: 100%;
    margin-top: -118px;
}

.room-details__comments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-details__title{
    font-family: Quicksand, OpenSans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
    margin-bottom: 23px;
    max-width: 341px;
    width: 100%;
}

.room-details__subtitle{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
}

.feedback{
    margin-bottom: 23px;
}

.room-details__bullet{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    max-width: 711px;
    width: 100%;
}

.room-details__descr{
    font-family: Montserrat, OpenSans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 20px;
}