.container{
    max-width: 255px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    background-color: #d8cece;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider{
    width: 170px;
    height: 16px;
    background-color: #eee;
    border-radius: 3px;
}

.thumb{
    width: 12px;
    height: 28px;
    position: relative;
    background-color: blue;
    border-radius: 4px;
    bottom: 6px;
}

.title{
    text-align: center;
}